* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Poppins;
    background-color: #E5E5E5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.meme_container {
    width: 550px;
    height: 585px;
    margin: 30px;
    display: flex;
    flex-direction: column;
}

