
.navbar{
    height: 65px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 37px;
    font-style: normal;
    line-height: 24px;
    letter-spacing: -0.1em;
    color: #FFFFFF;
}

.navbarIcon {
    display: flex;
    align-items: center;

    
}

.navbarImg {
    width: 31.31px;
    height: 26.22px;
    margin-right: 10px;
}

.navbarTitle {
    font-size: 20.7482px;
    font-family: 'Karla', sans-serif;
  
}

.navbarSubtitle {
    font-family: Inter;
    font-style: normal;
    font-size: 12px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-align: right;
    color: #FFFFFF;
}