.dark_btn {
    width: 100px;
    font-size: 12px;
    text-align: center;
    font-family: "Karla", sans-serif;
    border-radius: 5px;
    color: white;
    border: none;
    cursor: pointer;

}

.btn_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}